.dropdown {
    position: relative;
    display: inline-block;
    float: left;
}
.dropbtn {
    float: left;
    background-color: #7B241C;
    color: white;
    position: relative;
    margin-left: 0px;
    font-size: 30px;
    border: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #CD5C5C;
}
.dropdown-content a {
    color: black;
    padding: 25px 16px;
    text-decoration: none;
    display: block;
}


body{
    background-color: #F5B7B1 ;
}

.dropdown-content a:hover {background-color: pink;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #FADBD8  ;}